{% extends 'base.html' %}

{% block title %}岩石試料データ生成{% endblock %}

{% block content %}
{% load bootstrap %}
<nav class="navbar navbar-expand navbar-dark bg-info">
    <ul class="navbar-nav">
        <li class="nav-item"><h5 class="nav-link" style="color:yellow">岩石試料データベース入力フォーム</h5></li>
        <li class="nav-item"><a href="{% url 'top'%}" class="nav-link" style="color:yellow">トップ画面</a></li>
    </ul>
</nav>

<div class="table-responsive">
    <table class="table">
        <form action="{% url 'topcreate' %}" method="post">
            {% csrf_token %}
            {{ form|bootstrap }}
            <tr><td></td><td align="left"><button type="submit" class="btn btn-primary btn-lg">新規作成</button></td></tr>
        </form>
    </table>
</div>
{% endblock %}